.navbar{
    z-index: 999;
    height: -10px;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 8px #dfdddd;
    

}
.container{
    
    color: rgb(40, 42, 53);
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.navbar-elements{
    font-weight: bold;
    float: left;
}

.navbar-elements-right{
    border-radius: 25px;
    font-weight: bold;
    padding-right: 20px;
    float: right;
}

.logo{
    cursor:default;
    float: left;
    left: 50px;
    width: 70px;
    height: 70px;
}

.nav-link{
    height: 100%;
    font-size: 18px;
    outline: 0;
    border:none;
    color: black;
    text-align: center;
    display: block;
    padding: 25px 32px;
    text-decoration: none;
}

.nav-link:hover{
    height: 100%;
    color: white;
    background-color: rgb(4, 170, 109);
    text-align: center;
}

.nav-link:active{
    color: white;
    background-color: #292735;
    text-align: center;
}
.nav-link-right{
    font-size: 18px;
    color: black;
    display: block;
    margin: 25px 25px;
    text-decoration: none;
    float: right;
}

.nav-link-right:hover{
    display: inline;
    color: white;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(4, 170, 109);
}

.nav-link-right-logo{
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    color: white;
    display: inline-block;
    margin: 18px 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(4, 170, 109);
    border-radius: 25px;
}

.wrapper-right{
    float: right;

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content Link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}